用于进行前瞻性地质导向和精确的底层评价的新型定向电磁随钻仪器
 
 摘要：
   新型随钻（LWD）技术已经开发并被油田实地检验过的，通过使用倾斜横向电流环的天线，引进了定向电磁（EM）方法。多间距和多频率的
 定向方法使监测地层边界的距离和取向从而确定井位成为可能。在与常规随钻电阻率的结合后，定向电磁方法可以对井眼周边的结构和地层
 电阻率的精确解释，而不受泥浆类型的影响。此外，特定天线的结合为检测和表征在钻进过程中电阻率在近乎垂直的井中各向异性提供了可
 能性。
   定向电磁工具中的对称的收发两用机配置优化了所需地层参数的敏感性。在消除了各向异性和地层倾角的影响，增加了对称定向测量方法
 这些改动共同最优化了对地层边界的敏感度，对地层导向起到了很大的作用。天线安装到导电套管上可以显著降低通常在导电泥浆中与横向
 电磁方法相联系的大量的井眼影响。
   除了探索新定向传播测量的物理，我们将以油田测试为例来展示这些方法的独特的应用。通过实时监测和追踪井筒周围15英尺范围内的地
 层边界，定向传播仪器允许足够的时间作出轨迹调整，并保持储层中。地层层理方向信息回答了在什么方向去引导，依赖传统方法得到的结
 论往往是模糊的。特别有趣的应用是在稀油边缘和在有复杂结构的储层中井的位置，比如在泥沙交汇层中。
   井场测试案例也会展示在高角度水平井中由定向方法提供的增强的地层评价能力，在这种井中地层电阻率目前能在准确的计算底层边界值的
 同时确定。在近垂直井中测量电阻率各向异性的能力会由一个井场测试案列来展示，在这个案列中各向异性测量法借由在附近高角度井中与传
 统传播电阻率方法的对比来确定。
 
 绪论：
  常规感应和随钻传播电阻率工具通过所谓的井轴天线的使用来测量地层电阻率，天线都有与仪器（和井眼）轴对齐的磁矩。这些测量方法某种
意义无方位角，即测量信号不受仪器表面方位角指向的变化。
  额外的非轴向的（倾斜或是横向的）天线会添加有价值的信息（Moran and Gianzero，1979），这些信息已经为人知晓。新近，最近，已经有
相当多的活动中有多组分有线工具和相关解释软件的开发。 (Kriegshauser et al., 2000; Rosthal et al.,2003)。这些工具首要的应用就是
电阻率各向异性。其他应用,如成像和三维地层特征也已经开始开发。 (Spies and Habashy, 1995; Alumbaugh and Wilt, 2001; Barber et al.
, 2004)。
  非轴向线圈方法的一项重大优势是能把方位角方向敏感度引进地层电阻率中。像Sato et al.在倾斜线圈随钻工具的设计指出的那样在随钻环
境中，这种能力通过提供需要进行方向指引的决定，从而对于井位确定十分有用（Sato et al.，1996）。
  地质导向是一种基于实时地层评价数据的随时引导水平井方向的一门技术。行业需求的关键是能够对井储层边界进行地质导向,即使在井筒不
相交的边界。一般就是用于地质导向的随钻传播电阻率测量工具（Edwards，2000）是非方位角的，而且并不能指示出附近边界是从上方接近还是
从下方接近。由此产生的导向不确定性经常导致井位信息的模糊，特别是在薄储层中。这些方法测量相对较浅，所以提供的经常是并不充分的警
告，防止从最好的储层区域偏离开去。用低频率和长源距的系统已经被用于从距离地质上或石油物理边界更远处来确定井位 (Seydoux et al., 
2004), 但是依然是非定向的。而实时井眼成像对于解决结构不确定性非常有用 (Li et al, 2001; Rohler et al, 2001),，它的探测深度浅表
明直到边界实际被渗透，图像仍然不可用。
  新的指向性工具在地质评价中也有用。与最近开发的多元件电缆工具一样，在任何倾斜情况下都可以探测和解决井中的各向异性，包括竖直井。
除此之外，通过了这个能力来解决临近边界的精确位置，也使得探测地层真实电阻率（Rt），可以强力校正围岩临近效应。这种临近效应经常出成
为地层电阻率大量不确定性的来源，特别是对于水平井而言。
  
指向性电磁传播仪器  
  仪器2的天线设计图概述在图1中展示。传感器包括一对接收器 (R3, R4)，位于仪器的尾端，以仪器为轴心倾斜45°。传感器阵列包括6个发射器天线
（T1-T6）以前分布在倾斜的接受器之间。当其他五个的磁矩为仪器轴向方向时，其中一个发射器（T6）为横向。附加的一对轴向天线接收器（R1，R2）
包含在一个装置内，使传统阵列传播电阻率方法与T1-T5相结合。仪器的设计旨在把探测深度最大化并使得测量对称化，其重要性将会在后面
讨论。拥有最长的源距，96英寸，一般在外侧大多数对立的接收器和倾斜的发射器之间 (T5到R4和T4到R3)。
  总的来说，阵列在4个不同源距（96,84,34,22英寸）和3种不同频率（100kHz，400kHz，2MHz）上提供的定向相移和衰减测量。另外，发射器T6和倾
斜的接收器R3和R4，组合起来形成可以测量各向异性特殊敏感度的方法。这个测量方法的有效源距是59英寸，同样可以在两种频率（100kHz，400kHz）
下工作。
  提供仪器的方位取向的工具是由磁力仪系统提供的。其他的传感器包括一个定向伽马射线检测器和环形压力传感器。使定向测量技术成为可能的关键
是发展特殊的天线保护罩,优化电磁场最小衰减和扭曲的产生。

定向电磁方法物理
定向耦合的方位变量
  为了解释定向阵列的响应，首先来考虑发射器和接收器天线的耦合，其磁矩方向一致且处于同一平面，但任意角θΤ和θR是轴向的。 使仪器转动，接收器
上加的电压会随着仪器面方位角的角度（φ）函数的变化而变化，一般形式如下，
  
  g公式g
  
  Vij(i,j = x,y,z)表示在笛卡儿坐标系统中面向多组分的发射器和接收器之间的复杂耦合，这个系统固定沿z轴方向的仪器轴,与x和y轴垂直。
  以传统的电阻率仪器为例，其两对天线的磁矩都是沿仪器轴的 (θΤ =θR=0)，除了零阶项、aRE0和aIM0，所有的系数都为0.对于任意朝向的接收器和发射
器来说，一阶和二阶调和项也能是非零项且表示方位角电阻率变量和/或电阻率各向异性。同样值得注意的是，如果发射器和接收器都与仪器轴方向一致，
(θΤ =0 or θR=0)二阶调和项会消失。
  通过将取决于方位角的信号进行傅里叶变换，每一个接收器和发射器的组合的复杂电压的系数在仪器转动的时候很容易确定下来。但是这样做的解释并
不简单。然而，发射器和接收器的特定放置可以让响应更便于解释，这些将会在后文谈到。

方法定义
  对于定向的发射器-接收器对来说，我们可以定义一个方向性的衰减和相位偏移，如下面所示：
  
  g公式g
  
  是与地层倾向角有关的角度。
  
  需要注意在相同的井下条件，就同一对接收器-发射器对测量出的耦合系数比而言，衰减和相位偏移、相位角特殊的表示出来。因此，对于在发射器
和接收器电子的相位和增益中，任何电位飘移都会从测量数据中剔除。这种表示了二阶调和项的方法也可以用相同的方式来定义。

g公式g

  要注意在公式4中发射器和接收器指数都被明显的标示为零阶系数。这种方法是44寸和74寸各向异性方法的组合。这些方法都对电阻率各向异性敏感，
甚至在垂直井中，因为发射器和接收器有相反的原件(Moran and Gianzero, 1979)。
  其他测量方法都可以由复杂系数来定义。例如，一个构建传统相移和衰减测量的零阶系数R3和R4轴发射器,在公式4中计算各向异性完全相同的方式,除
了T2和T6轴向发射机所取代。

方向性和岩层边界相应
  为了解释这些定向方法的岩层边界敏感度，图2中展示了长源距定向相移和衰减仪器的响应，当仪器位置在20ft厚的地层中，20Ohm-m的岩层夹在2和5
Ohm-m围岩的中间时。仪器方向与边界平行，模拟成90°的水平井。
  在图2中我可以看到几个关键点：
  --定向测量在远离电阻率岩层边界时读取0
  --信号极性的反转依赖于导电岩层在上方还是下方。
  --因为仪器从两侧靠近，测量结果单调性增加
  --峰值最高因为边界导电性差异严重
  
  信号变化就是测量定向的结果。当仪器从下方靠近一个导电性更好的地层时，定向相位偏移和衰减是正。反之，是负。因此，极性可以在随钻作为一个
 简单的指示器，以确定是否导电性更强的地层，如页岩，从上方或下方接近，以及定向钻机是否应该向上或向下避开它。
  用玻恩近似，可以知道标志边界，指向信号的幅度与两个岩层在导电性方面的差异成正比
  
  g公式g
  
  例如，两个岩层的相对导电性差异越大，指向信号越强。
  
  总而言之，仪器边界探测的半径取决于岩层的电阻率，接收器和发射器的间距和测量频率，还有测量信号被认定为可使用的阈值水平。图3中展示了测量
分布图，用了一个模板包括：以单一岩层边界和以0.25dB和1.5°为假定探测阈值，并用84in测量。像这样的图可以提供在不同电阻率对比中提供敏感度的
标准。举个例子，1 Ohm-m或更低的和一个大于10 Ohm-m的盖层电阻率，84in定向衰减方法能探测井周围14ft盖层的存在。

测量对称化
  直到现在，我们一直在考虑单一指向发射器-接收器对的相应。这种测量方法更深的探索揭示了这种响应的简单性由于地层各向异性的存在已经不准确了
，如图2所示。为了解释这个，图4a表示96in源距轴向倾斜对在三岩层结构的定向相移响应，其中间的地层是有各向异性的。在仪器和地层之间，响应表示
为视地层倾角。在图中可以看出，因为各向异性响应变化的相当大，同样也会随倾角变化而变化。因为这些参数都事先知道不准确，这可能会导致解释的
不准确，最终导致错误的决断。
  为了从各向异性敏感度分离出岩层边界敏感度，同样为了促进定向测量的可解释性，引进了对称的仪器图(Minerbo et al., 2003)。通过叠加两个T-R对
的定向测量，其中一对是另一个的镜像，在各向同性地层，通过恢复先前所观察到的简单的行为获得测量结果。在图4b中，当离边界很近时测量响应对视
倾角敏感，除此之外，对各向异性和倾角并不敏感。这个发现是十分重要的，而且是研发对称阵列仪器图的主要原因。
  
用图进行简单边界距离解释
  解释定向仪器的第一种方法是通过图标的运用。由于对称测量的简单响应，通常用交会图来快速解释边界距离（DTB）。
  
用已知盖层电阻率解释
  假设盖层-岩层电阻率已知，（例如在处理已知电阻率的泥质盖层），在一个轴和定向测量轴上传统的测量，可以使用交会图,图5a上展示了一个交会图
的例子，其盖层电阻率为Rh-shale = 0.8 Ohm-m和Rv-shale = 3.6 Ohm-m。通过输入读取工具测量的值,在图中可以很容易地找到地层电阻率和到盖层的
距离。

 可以在图中看出传统电阻率的测量方法，x轴表示地层电阻率并未受到盖层的影响，除了当距离变小的时候，同时定向测量主要对盖层敏感，特别是在更大
地层的对比下。

  

  



