用于进行前瞻性地质导向和精确的底层评价的新型定向电磁随钻仪器
 
 摘要：
   新型随钻（LWD）技术已经开发并被油田实地检验过的，通过使用倾斜横向电流环的天线，引进了定向电磁（EM）方法。多间距和多频率的
 定向方法使监测地层边界的距离和取向从而确定井位成为可能。在与常规随钻电阻率的结合后，定向电磁方法可以对井眼周边的结构和地层
 电阻率的精确解释，而不受泥浆类型的影响。此外，特定天线的结合为检测和表征在钻进过程中电阻率在近乎垂直的井中各向异性提供了可
 能性。
   定向电磁工具中的对称的收发两用机配置优化了所需地层参数的敏感性。在消除了各向异性和地层倾角的影响，增加了对称定向测量方法
 这些改动共同最优化了对地层边界的敏感度，对地层导向起到了很大的作用。天线安装到导电套管上可以显著降低通常在导电泥浆中与横向
 电磁方法相联系的大量的井眼影响。
   除了探索新定向传播测量的物理，我们将以油田测试为例来展示这些方法的独特的应用。通过实时监测和追踪井筒周围15英尺范围内的地
 层边界，定向传播仪器允许足够的时间作出轨迹调整，并保持储层中。地层层理方向信息回答了在什么方向去引导，依赖传统方法得到的结
 论往往是模糊的。特别有趣的应用是在稀油边缘和在有复杂结构的储层中井的位置，比如在泥沙交汇层中。
   井场测试案例也会展示在高角度水平井中由定向方法提供的增强的地层评价能力，在这种井中地层电阻率目前能在准确的计算底层边界值的
 同时确定。在近垂直井中测量电阻率各向异性的能力会由一个井场测试案列来展示，在这个案列中各向异性测量法借由在附近高角度井中与传
 统传播电阻率方法的对比来确定。
   
